header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background: transparent;
    transition: all ease 0.5s;
}

header.black {
 background-color: #141414;
}

.header--logo img {
    height: 30px;
}

.header--logo {
    height: 30px;
}

.header--user img {
    height: 40px;
    border-radius: 4px;
}

.header--user {
    height: 40px;
}

@media (max-width:760px) {

}