footer {
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer--contact {
    justify-content: space-evenly;
}

.footer--icon {
    width: 90px;
    margin: 0 0 -5px;
}